* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background: linear-gradient(45deg, rgb(144, 220, 176), rgb(220, 158, 77));
}

h2 {
    position: relative;
    font-size: 10em;

    color: #fff;
    cursor: pointer;
}

span {
    position: relative;
    filter: blur(5px);
    /* gap: 5px; */
    padding: 0 5px;
    transition: 0.2s;

}

span:hover {
    filter: blur(0px);
}

i {
    position: absolute;
    inset: 0;
    background-color: rgb(255, 1, 1);
    background: transparent;
}

span:hover i::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 15px;
    background-color: #fff;
    box-shadow: 0 142px #fff,
        81px 0px #fff,
        81px 142px #fff
}

span:hover i::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 3px;
    background-color: #fff;
    box-shadow: 0 157px #fff,
        66px 0px #fff,
        69px 157px #fff
}