body {
    background-color: black;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
    font-size: 92px;
}

button {
    padding: 5px;
    font-size: 32px;
    border-radius: 10px;
    width: 100px;
    cursor: pointer;
}